body {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
	font-size: 2.75em;
  line-height: 1.2;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	color: #222;
}

p {
  margin-top: 0;
}

.content {
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}